# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Tests
tests/assets

# Sphinx documentation
docs/build/

# Environment
.pdm-python

tests/media/
